.c-allnews{
  padding: 0 0 60px 0;
}
.c-news-div{
    width: 100%;
}
.c-news-div-title{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
    margin: 0;
    margin: 30px 0 20px 63px;
}
.c-news-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
}
 .c-news-list > li{
    width: 45%;
    height: 239px;
    margin: 10px 10px;
}
.c-news-list > li > .c-news-item-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDF2F6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.c-news-img-box{
    margin-right: 20px;
    height: 100%;
}
.c-news-img-box-img{
    height: 100%;
    width: 165px;
}
.c-news-info-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 190px;
}
.c-news-list > li > .c-news-item-link > h3, p, span{
    font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
}
.c-news-title{
    color: #070C11;
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    line-height: 22px;
    font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
}
.c-news-text{
    color: #070C11;
    font-size: 13px;
    font-weight: 400;
}
.c-news-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-news-link{
    color: #2A5275;
    font-size: 14px;
    font-weight: 500;
}
.c-news-data{
    color: #838688;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}



/* ! media */

@media only screen and (max-width: 1090px) {
    .c-news-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .c-news-list > li{
        width: 80%;
    }
    .c-news-list > li > .c-news-item-link{
        width: 100%;
    }
    .c-news-div-title{
        margin: 30px 0 20px 115px;
    }
}

@media only screen and (max-width: 768px) {
    .c-news-div-title{
        margin: 30px 0 20px 83px;
    }
  .c-news-list > li{
        width: 90%;
    }
    .c-news-title{
        color: #070C11;
        font-size: 21px;
        font-weight: bold;
        margin: 0;
        line-height: 22px;
        font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
    }
}

@media only screen and (max-width: 568px) {
    .c-news-div-title{
        margin: 30px 0 20px 40px;
        font-size: 28px;
    }
  .c-news-list > li{
        width: 90%;
        height: 100%;
    }
    .c-news-list > li > .c-news-item-link{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .c-news-title{
        color: #070C11;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        line-height: 22px;
        font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
    }
    .c-news-img-box{
        width: 100%;
        margin: 0;
        height: 180px;
    }
    .c-news-img-box-img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .c-news-info-box{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 368px) {
    .c-news-title{
        color: #070C11;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        line-height: 22px;
        font-family: 'Montserrat', 'Roboto', 'Exo+2', sans-serif;
    }
    .c-news-text{
        font-size: 12px;
    }
    .c-news-div-title{
        margin: 30px 0 20px 20px;
        font-size: 24px;
    }
}